.header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
    width: 100vw;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
